# CONFIGURACIÓN DE BASE DE DATOS - TFG ASIR
# Copia este archivo y cámbiale el nombre a .env
# Rellena los datos con la IP de Tailscale de Alberto y las credenciales de tu base de datos MySQL  

DB_HOST=IP_DE_TAILSCALE
DB_PORT=3306
DB_NAME=nombre_de_la_base_de_datos
DB_USER=usuario_de_la_base_de_datos
DB_PASS=contraseña_de_la_base_de_datos